h1, h3 {
  text-align: center;
  color: #fff;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  width: 100%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #555;
}

input {
  padding: .5rem 1rem;
  width: 300px;
  background-color: transparent;
  border: 1px solid #77f;
  color: #fff;
  font-size: 1.1rem;
  outline: none;
}

input::placeholder {
  color: #999;
}

a, button {
  padding: .5rem 1rem;
  width: fit-content;

  background: #224;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
  outline: none;
  border: none;
  cursor: pointer;
}
